body, h1, h2, h3, h4, h5, h6, hr, p,
 blockquote, /* structural elements ½á¹¹ÔªËØ */
 dl, dt, dd, ul, ol, li, /* list elements ÁÐ±íÔªËØ */
 pre, /* text formatting elements ÎÄ±¾¸ñÊ½ÔªËØ */
 form, fieldset, legend, button, input, textarea, /* form elements ±íµ¥ÔªËØ */
 th, td, /* table elements ±í¸ñÔªËØ */
 img,div,span/* img elements Í¼Æ¬ÔªËØ */{
     border:medium none;
     margin: 0;
     padding: 0;
 }
/** ÉèÖÃÄ¬ÈÏ×ÖÌå **/
body,input,p,div,span{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Microsoft YaHei',Arial,Helvetica,sans-serif;
}
html{
	background: #f1f1f1;
}
ul, ol { list-style: none; }
a { text-decoration: none; color:#000;}
a:hover { text-decoration: underline; color:#3363a7; }
img{ border:0px;}
table { border-collapse: collapse; border-spacing: 0; }

.changeShow{
	width: 100%;
	height: 2.25rem;
	margin-top:2.2rem;
	background:white;
	border-bottom:1px solid #ddd;
}
.changeShow div span{
	/* width:100%; */
	/* border-bottom:2px solid #0eaae3; */ 
	padding: 0 0.5rem 0 0.5rem;
	/* float:left; */
	height:1.75rem;
	/* line-height:2.25rem; */
	margin-top:0.5rem;
	text-align:center;
	color: #282828;
}
.changeShow div{
	width:25%;
	float:left;
	height: 2.25rem;
	text-align:center;
	color: #c0c0c0;
}
.changeShow  .special{
	 border-bottom:solid 2px #0eaae3; 
	 color: #0eaae3;
}
.showList{
	 /* border:1px solid red; */ 
	margin:0 auto;
	width: 92%;
	padding-bottom: 1rem;
}
.showList .sameTop{
	height: 1.625rem;
	/* border:1px solid red; */
	width: 100%;
	text-align: center;
	font-size: 0.55rem;
	line-height: 1.625rem;
	color: #999;
}
.showList .sameBot{
	border:1px solid #ddd;
	width: 100%;
	/* height: 100px; */
	border-radius: 6px;
	background: white;
}
.sameBot .sameTitle{
	font-size: 0.7rem;
	color: #38adff;
	font-weight: 700;
	margin-left: 0.5rem;
	margin-top: 0.6rem;
}
.sameBot .textContent{
	font-size: 0.6rem;
	color: #282828;
	width:90%;
	margin:0 auto;
	margin-top: 0.4rem;
	padding-bottom: 0.75rem;
}
.noMessage{
	width: 100%;
	margin-top: 5rem;
	display: none;
}








