body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, 
dl, dt, dd, ul, ol, li, 
pre,
form, fieldset, legend, button, input, textarea,
th, td, 
img {
	border: medium none;
	margin: 0;
	padding: 0;
}
body, input, p {
	margin: 0;
	padding: 0;
	font-size: 0.8rem;
	font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif;
}
ul, ol {
	list-style: none;
}
a {
	text-decoration: none;
	color: #000;
}
img {
	border: 0px;
}
.box{
	margin-top: 0;
}
.backImg{
	width:100%;
}
.myBackContent{
	width:100%;
	height: 2.8rem;
	/* border:1px solid red; */
	position: absolute;
	top:7%;
}
.myHoldImg{
	height: 2.8rem;
	width: 2.8rem;
	float:left;
	border-radius:50%;
	margin-left: 4%;
	display:inline;
	border: 2px solid white;
}
.lv{
	width: 2.8rem;
	height: 0.9rem;
	position: relative;
	top:-0.75rem;
	display: none;
}
.mineSetMes{
	float: right;
	height: 1.875rem;
	width: 1.875rem;
	margin-right: 4%;
	margin-top: 0.46rem;
}
.myBackContent img:nth-child(5){
	margin-right: 0.3rem;
}
.userinfo{
	display: inline-block;
	width:40%;
	/* border:1px solid red; */
	margin-left: 0.55rem;
	height: 2.8rem;
	font-weight: 700;
}
.name{
	font-size: 0.65rem;
	color:white;
	line-height:2.8rem;
}
.allAount{
	width:100%;
	height: 3.15rem;
	/* border:1px solid red; */
	background: #fff;
}
.allAount .sameCount{
	width:25%;
	height: 3.15rem;
	/* border:1px solid red; */
	float: left;
}
.allAount .sameCount .countNumber{
	font-size: 0.9rem;
	display: block;
	margin-top: 0.6rem;
	text-align: center;
	text-overflow :ellipsis;
	white-space:nowrap;
	overflow:hidden;
}
.allAount .sameCount .countText{
	font-size: 0.6rem;
	display: block;
	color:#999;
	text-align: center;
}
.mineTop{
	height: 5.0rem;
	width:100%;
	margin-top: 0.7rem;
	/* border:1px solid red; */
	background: #fff;
}
.mineTop .mineTopSame{
	/* border:1px solid red; */
	width: 25%;
	height: 5.0rem;
	float: left;
	
}
.mineTopSame .mineTopSameImg{
	width:2.1rem;
	height: 2.1rem;
	margin: 0 auto;
	margin-top: 0.9rem; 
}
.mineTopSame span{
	margin-top: 0.5rem;
	font-size: 0.7rem;
	text-align: center;
	width: 100%;
	color: #282828;
	
}
.mineBot{
	width:100%;
	/* border:1px solid red; */
	height: 4.51rem;
	margin-top: 0.7rem;
	background: #fff;
}
.mineBotSame{
	/* border:1px solid red; */
	width:25%;
	height: 4.51rem;
	float:left;
}
.mineBotSame img{
	width: 1.2rem;
	height: 1.2rem;
	margin: 0 auto;
	margin-top: 1.1rem;
}
.mineBotSame span{
	margin-top: 0.5rem;
	font-size: 0.65rem;
	text-align: center;
	width: 100%;
	color: #282828;
	
}
.mineBotNoMargin{
	margin: 0;
}
.mineBotSame .mineBotNoMarginImg{
	margin-top: 0.95rem;
}
.mineBotSame .other{
	font-size: 0.6rem;
	color: rgb(152,152,152);
	position: relative;
	top:-0.5rem;
}

/* 回购弹框 */
.tankuang_box{
	position:fixed;
	top:0;
	left:0;
	z-index:50001;
	width:100%;
  	  display:none;        
	overflow: hidden;
	
}
.tankuang{
	width:100%;
	margin:auto;
	background-color: rgba(0,0,0,0);
 	overflow:hidden; 
	
}
.tankuang img{
	width:100%;
}
.tankuang .close{
	position: absolute;
	top:17.25%;
	right: 8%;
	width: 1.75rem;
	height: 1.75rem;	
}
.tankuang .gotoBus{
	/* border: 1px solid red; */
    width: 45%;
    height: 3rem;
    position: absolute;
    bottom: 31.5%;
    left: 30%;
}
.integral{
	position: absolute;
	right: 4%;
}

/* 头像更改 */
#photo {
	display: none;
}
.photo {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
	font-size: 1rem;
}
.photo_center {
	width: 100%;
	height: 220px;
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 10px;
}
.photo_top {
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
}
.photo_top span {
	display: inline-block;
	width: 100%;
	text-align: center;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #dcdcdc;
	color: #a0a0a0;
}
.photo_top button, .photo_bottom {
	width: 100%;
	background-color: #fff;
	color: red;
	font-size: 18px;
	border-radius: 5px;
	height: 50px;
	line-height: 50px;
}
.photo_top .borderOne {
	border-bottom: 1px solid #dcdcdc;
}
.photo_bottom {
	margin-top: 4px;
	color: #0eaae0;
}
