body {
	font-family: "微软雅黑";
	background-color: #f1f1f1;
}
img {
	display: block;
}
input {
	margin: 0;
	padding: 0;
	outline: none;
	border: none;
	text-align: right;
}
.boxBot{
	width:100%;
	background: #fff;
	margin-top: 2.2rem;
	/* height: 1rem; */
}
.boxBot .topFirst{
	height: 2.2rem;
	width:100%;
	border-bottom:1px solid #ddd;
}
.boxBot .topFirst span:nth-child(1){
	font-size: 0.75rem;
	float: left;
	margin-left: 4%;
	color: #38adff;
	line-height: 2.2rem;
	font-weight: 700;
}
.boxBot .topFirst span:nth-child(2){
	font-size: 0.6rem;
	float: right;
	margin-right: 4%;
	color: #38adff;
	line-height: 2.2rem;
}
.boxBot .botSec .boxBotSame{
	height: 3rem;
	width:100%;
	border:1px solid transparent;
}
.boxBot .botSec .boxBotSame .main{
	width: 89.33%;
	height: 2.5rem;
	border:1px solid transparent;
	border-bottom:1px solid #ddd;
	margin-left: 10.6%;
	margin-top: 0.5rem;
	position: relative;
}
.boxBot .botSec .boxBotSame .mainImg{
	width:2rem;
	height: 2rem;
	/* border:1px solid red; */
	border-radius:50%;
	float:left;
}
.boxBot .botSec .boxBotSame .nickName{
	color:#282828;
	font-size: 0.7rem;
	float:left;
	margin-left: 0.625rem;
}
.boxBot .botSec .boxBotSame .realName{
	font-size:0.6rem;
	float:left;
	color: #999;
	display: block;
	position: absolute;
	left: 2.6rem;
	top:1rem; 
}
.boxBot .botSec .boxBotSame .last{
	float:right;
	color: #282828;
	font-size:0.6rem;
	line-height: 2rem;
	margin-right: 4%;
}
.boxBot .botSec .boxBotSame .mid{
	float:right;
	color: #ff8705;
	font-size:0.6rem;
	line-height: 2rem;
}
.boxBot .botSec .boxBotSame .botGold{
	width:1rem;
	height: 1rem;
	float: right;
	margin-top: 0.5rem;
	margin-right: 0.5rem;
}
.boxBotSame .topImg{
	width:1rem;
	height: 0.8rem;
	float:left;
    margin-top: 1.0rem;
    margin-left: 4%;
    color:#999;
}
.botSec .lastBox{
	width: 100%;
	height: 2.2rem;
	border-top:1px solid #ddd;
	background-color: rgba(255, 255, 255, 1);
}
.botSec .lastBox .noMore{
	color: #282828;
	line-height: 2.2rem;
	text-align: center;
	font-size: 0.6rem;
	width:100%;
}












